[user]
	name = Didox
	email = dansantos@abril.com.br
[core]
	editor = sublime
	excludesfile = /Users/Danilo/.gitignore_global
[diff]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[merge]
	tool = diffmerge
[mergetool]
	keepBackup = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true

